In [1]:
import pandas as pd
import json

In [2]:
pd.read_json('/Users/parkjiyoung/skku-webproject-git/goggle_crawl_data/google_jongro_data.json')

ValueError: All arrays must be of the same length

In [4]:
pd.read_csv('/Users/parkjiyoung/skku-webproject-git/kakao_data_arrange/all_kakao_comment').drop(columns=['Unnamed: 0'])

,place_name,place_category_detail,comment_user,comment_star,comment_time,comment_content
0,신라스테이 광화문,신라스테이,정도진,100.0,2023.10.04.,NaN
1,신라스테이 광화문,신라스테이,호야,100.0,2023.10.03.,"신라스테이는 뭔들 좋지요 ...\n특히, 조식서비스 💖"
2,신라스테이 광화문,신라스테이,김기숙 010 -5305 -2329,80.0,2023.10.01.,NaN
3,신라스테이 광화문,신라스테이,바람난김군,100.0,2023.10.01.,NaN
4,신라스테이 광화문,신라스테이,.,20.0,2023.09.27.,NaN
...,...,...,...,...,...,...
28925,빚은 연희점,빚은,tkhsjr,80.0,2019.11.05.,NaN
28926,충남수산,회,NaN,NaN,NaN,NaN
28927,미성까운,"단체복,유니폼",NaN,NaN,NaN,NaN
28928,선진광고,생활용품제조,윤사장,100.0,2022.07.11.,NaN
28929,다모아수선,의류수선,NaN,NaN,NaN,NaN

In [5]:
pd.read_csv('/Users/parkjiyoung/skku-webproject-git/kakao_data_arrange/all_kakao_data').drop(columns=['Unnamed: 0'])

,place_name,place_category_detail,place_adress,place_running_date,place_page,place_phone,place_tag,place_info
0,신라스테이 광화문,신라스테이,서울 종로구 삼봉로 71 G타워 (우)03150,NaN,www.shillastay.com/gwanghwamun,02-6060-9000,#2인실 #비즈니스룸 #비즈니스호텔 #어메니티제공 #조식서비스 #호캉스,none
1,JW메리어트동대문스퀘어서울,메리어트호텔,서울 종로구 청계천로 279 (우)03198,NaN,www.instagram.com/jwmarriott_dongdaemun,02-2276-3000,#럭셔리호텔 #부티크호텔 #비즈니스호텔 #어메니티제공 #조식서비스 #호캉스,none
2,이비스앰배서더호텔 인사동,앰배서더호텔,서울 종로구 삼일대로30길 31 (우)03132,NaN,ibis.ambatel.com/insadong,02-6730-1101,#2인실 #루프탑있는 #비즈니스호텔 #사우나 #조식서비스 #패밀리룸 #호캉스,주차
3,노블관광호텔,베니키아 호텔,서울 종로구 율곡로6길 13-3 (우)03131,NaN,www.noblehotel.co.kr,02-742-4025,#2인실 #가족호텔 #관광호텔 #비즈니스룸 #비즈니스호텔 #어메니티제공 #호캉스,none
4,포시즌스호텔 서울,호텔,서울 종로구 새문안로 97 (우)03183,매일 00:00 ~ 24:00,www.fourseasons.com/kr/seoul,02-6388-5000,#럭셔리호텔 #사우나 #어메니티제공 #조식서비스 #호캉스 #제로페이,주차
...,...,...,...,...,...,...,...,...
2206,빚은 연희점,빚은,서울 서대문구 연희맛로 23 사러가쇼핑 1층 2호 (우)03707,매일 07:00 ~ 22:00,www.bizeun.co.kr,02-322-1614,#카카오페이 #제로페이,none
2207,충남수산,회,서울 중구 퇴계로85길 지하 56 신당지하쇼핑센터 56호 (우)04576,NaN,NaN,02-2252-1900,#제로페이,none
2208,미성까운,"단체복,유니폼",서울 중구 퇴계로85길 지하 56 신당지하쇼핑센터 (우)04576,NaN,NaN,02-2256-5700,#제로페이,none
2209,선진광고,생활용품제조,서울 중구 퇴계로85길 지하 56 신당지하쇼핑센터 112-1호 (우)04576,NaN,sunjinad.kr,02-2237-0004,NaN,none
2210,다모아수선,의류수선,서울 중구 퇴계로85길 지하 56 신당지하쇼핑센터 112-1호 (우)04576,NaN,NaN,02-2256-0158,#제로페이,none